<header class="site-header d-flex flex-column flex-md-row align-items-md-end">
  <div>
    <a href="{{ site.baseurl }}/" class="site-name d-block">{{ site.title }}</a>
    <span class="site-tagline d-block">{{ site.description }}</span>
  </div>
  <nav class="site-nav d-flex flex-wrap mt-3 mt-md-0 ms-md-auto">
    {% for item in site.data.settings.menu %}
      {% assign item_dir = item.url | append: "/" %}
      {% assign item_file = item.url | append: ".html" %}
      <a href="{{ site.baseurl }}{{ item.url }}"{% if page.url == item.url or page.url == item_dir or page.url == item_file %} class="active"{% endif %}>{{ item.name }}</a>
    {% endfor %}
  </nav>
</header>
